<div class="container">
  <h1>{{ title() }}</h1>

  @if (errorMessage()) {
    <div class="error-banner">
      {{ errorMessage() }}
    </div>
  }

  @if (isLoading()) {
    <div class="loader-overlay">
      <div class="spinner"></div>
      <p>Loading the Posts from the backend</p>
    </div>
  }

  <div class="actions">
    <button type="button" class="btn-toggle" (click)="toggleForm()">
      {{ showForm() ? 'Close' : '+ Add New Post' }}
    </button>
  </div>

  @if (showForm()) {
    <section class="form-container">
      <h3>Create New Post down below</h3>
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" formControlName="title" placeholder="Enter post title">
          @if (postForm.get('title')?.invalid && postForm.get('title')?.touched) {
            <small class="validation-error">Title is required (min 3 chars needed).</small>
          }
        </div>

        <div class="form-group">
          <label for="body">Body </label>
          <textarea id="body" formControlName="body" rows="4" placeholder="Enter post body"></textarea>
          @if (postForm.get('body')?.invalid && postForm.get('body')?.touched) {
            <small class="validation-error">Body is required (min 5 chars needed).</small>
          }
        </div>

        <button type="submit" class="btn-submit" [disabled]="postForm.invalid || isLoading()">
          Submit Post
        </button>
      </form>
    </section>
  }

  <div class="table-responsive">
    <table class="post-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        @for (post of posts(); track post.id) {
          <tr>
            <td class="text-bold">{{ post.id }}</td>
            <td class="text-bold">{{ post.title }}</td>
            <td class="text-bold">{{ post.body }}</td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3" class="text-center">No posts available to display,try again later</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>